@use "../variables";

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: variables.$font-family-sans-serif;
    font-size: 16px; 
    line-height: 24px; 
    background-color: variables.$uoc-bg; 
    color: variables.$uoc-corporate;
}

.uoc-title {
    font-family: variables.$font-family-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 7rem; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
    white-space: nowrap; 
    margin-top: 0; 
    margin-bottom: 0; 

    @media (min-width: variables.$mqMinWidth) {
        font-size: 36px;
        white-space: normal; 
        width: auto;
        max-width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem; 
    width: 100%; 
    flex-grow: 1; 
    align-items: stretch;
    
    @media (max-width: 768px) {
        display: block; 
        gap: 0; 
    }
}

.poster-wrapper {
    container-type: inline-size; 
    width: 100%;
    padding: 0; 
    border-radius: 0;
    box-shadow: none;
    background-image: url("../images/food-poster.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgb(0 0 0 / 30%);
    color: #fff;
    text-align: center;

    &__content {
        max-width: 1200px; 
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 1.5rem; 
    }
}

.poster-wrapper__column {
    position: relative; 
    height: 100%;
}

.poster-wrapper__description {
    margin-top: 10rem;
}


.side-column {
    background-color: variables.$uoc-backgroud; 
    border-radius: 0; 
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%);
    margin-top: 0; 
    padding: 2rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    
    &__content {
        text-align: left;
        color: variables.$uoc-corporate; 
    }
    
    @media (max-width: 768px) {
        display: none; 
    }
}


.poster-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
    @container (max-width: 400px) {
        gap: 0.5rem;
    }
}

.poster-grid__item {
    background-color: rgb(255 255 255 / 90%);
    color: variables.$uoc-corporate;
    padding: 2rem;
    text-align: center;
    flex: 1 1 200px;
    border-radius: 0.5rem;
    font-weight: 500;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

@supports (display: grid) {
    .poster-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1.5rem;
    }
}