@use "../variables";
@use "sass:color";

@layer layout {
    .info-page__container {
        max-width: 1000px;
        container-type: inline-size;
    }
}

@layer pages {
    .info-section {
        .info-section__data {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            justify-content: center;
            padding: 2rem 0;
            container-type: inline-size;
        }

        .info-section__card {
            background-color: variables.$uoc-masterbrand;
            padding: 1.5rem;
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
            text-align: center;
            flex: 1 1 100%;
            max-width: 400px;

            &:hover {
                background-color: color.adjust(
                    variables.$uoc-masterbrand,
                    $lightness: -5%
                );
                transform: translateY(-2px);
                transition: all 0.3s ease;
            }

            &-title {
                color: variables.$uoc-corporate;
                font-size: 1.25rem;
                margin-top: 0;
            }

            &-text {
                font-weight: 500;
                color: #333;
            }
        }

        .info-section__map {
            h2 {
                color: variables.$uoc-corporate;
                margin-bottom: 1rem;
            }

            .map-placeholder {
                width: 100%;
                height: 400px;
                background-color: hwb(0deg 94% 6%);
                border: 1px solid #ddd;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.5rem;
                color: color(display-p3 0.6 0.6 0.6);
                color: hwb(0deg 60% 40%);
                font-style: italic;
            }
        }
    }

    .info-travel {
        &__title {
            color: variables.$uoc-corporate;
            border-bottom: 2px solid variables.$uoc-masterbrand;
            padding-bottom: 0.5rem;
        }

        &__text {
            line-height: 1.6;
        }
    }

    @container (min-width: 650px) {
        .info-section__card {
            flex: 1 1 calc(50cqw - 0.75rem); 
            max-width: calc(50cqw - 0.75rem);
        }
    }

    @container (min-width: 900px) {
        .info-section__card {
            flex: 1 1 calc(25cqw - 1.125rem); 
            max-width: calc(25cqw - 0.75rem);
        }
    }
}