@use "../variables";

.page-speakers {
    background-color: variables.$uoc-backgroud; 
}

.speaker-grid {
    container-type: inline-size; 
    display: flex;
    flex-wrap: wrap; 
    gap: 1.5rem; 
    justify-content: center;
    padding: 3rem 0;
}

.speaker-card {
    background-color: #2a2a2a; 
    padding: 1.5rem;
    text-align: center;
    flex: 1 1 100%; 
    max-width: 300px; 
    
    &__photo {
        width: 100%;
        height: 35dvh; 
        background-color: #444; 
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        overflow: hidden; 
    }
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 0.5rem; 
    }

    &__name {
        font-weight: 700;
        color: variables.$uoc-corporate; 
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    
    &__description {
        font-size: 0.9rem;
        color: #fff; 
    }
}

@container (min-width: 600px) {
    .speaker-card {
        flex: 1 1 calc(50% - 0.75rem); 
        max-width: calc(50% - 0.75rem); 
    }
}

@container (min-width: 900px) {
    .speaker-card {
        flex: 1 1 calc(33.33% - 1rem); 
        max-width: calc(33.33% - 1rem);
    }
}