<header class="header">
  <nav class="header__nav container d-flex justify-content-between align-items-center">
<a href="index.html" class="header__logo text-light">
  <i class="fas fa-utensils fa-2x"></i>
</a>

    <button class="header__toggle btn d-md-none" type="button" aria-label="Toggle menu">
      <span class="header__toggle-icon"></span>
      <span class="header__toggle-icon"></span>
      <span class="header__toggle-icon"></span>
    </button>


<ul class="header__menu list-unstyled mb-0 gap-3">
  <li class="header__item"><a href="index.html" class="header__link nav-link">Home</a></li>
  <li class="header__item"><a href="speakers.html" class="header__link nav-link">Speakers</a></li>
  <li class="header__item"><a href="blog.html" class="header__link nav-link">Blog</a></li>
  <li class="header__item"><a href="information.html" class="header__link nav-link">Info</a></li>
</ul>


  </nav>
</header>